@media (min-width: 640px) {
    .sm\:p-6 {
        padding: 1.5rem;
    }
}

.p-4 {
    padding: 1rem;
}



.bg-primary {
    --tw-bg-opacity: 1;
    background-color: var(--color-dark);
}

.w-full {
    width: 100%;
    
}

*,
:after,
:before {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

*,
:after,
:before {
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    display: block;
}

body {
    line-height: inherit;
    margin: 0;
}

body {
    font-family: Poppins, sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue;
    overflow-x: hidden;
    overflow-y: auto;
}

:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: hsla(0, 0%, 100%, .7);
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(90deg, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
    tab-size: 4;
}

:after,
:before {
    --tw-content: "";
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}

/* ---------Logo footer----------- */
@media (min-width: 768px) {
    .md\:justify-start {
        justify-content: flex-start;
    }
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

div {
    display: block;
}

/* ----div 1------ */
@media (min-width: 768px) {
    .md\:mb-0 {
        margin-bottom: 0;
    }
}

.mb-3 {
    margin-bottom: 0.75rem;
}

/*  
-------div div------ */
.gap-8 {
    gap: 2rem;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

/* ------div div div ------- */
@media (min-width: 768px) {
    .md\:w-36 {
        width: 9rem;
    }
}

.object-contain {
    object-fit: contain;
}

.w-5 {
    width: 5.5rem;
}

img,
video {
    height: auto;
    max-width: 100%;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

/* ----span ---------- */
.text-headingColor {
    --tw-text-opacity: 1;
    color: rgb(46 46 46/var(--tw-text-opacity));
}

.font-semibold {
    font-weight: 600;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.self-center {
    align-self: center;
}

/* ---------------hr------------- */
@media (min-width: 1024px) {
    .lg\:my-8 {
        margin-bottom: 2rem;
        margin-top: 2rem;
    }
}

@media (min-width: 640px) {
    .sm\:mx-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

.border-gray-200 {
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235/var(--tw-border-opacity));
}

.my-2 {
    margin-bottom: 0rem;
    margin-top: 0rem;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0;
}

hr {
    border-top-width: 1px;
    color: inherit;
    height: 0;
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

/* ----------div facebook------------- */

@media (min-width: 768px) {
    .md\:justify-between {
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .md\:flex-row {
        flex-direction: row;
    }
}

/* .flex-col {
    flex-direction: column;
} */

.flex-row {
    flex-direction: row;
}

/* --------span in div facebook------ */
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgb(107 114 128/var(--tw-text-opacity));
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.text-center {
    text-align: center;
}

/* -----icon facebook-------- */
@media (min-width: 768px) {
    .md\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 640px) {
    .sm\:justify-center {
        justify-content: center;
    }
}

@media (min-width: 640px) {
    .sm\:mt-0 {
        margin-top: 0;
    }
}

.mt-4 {
    margin-top: 1rem;
}

/* -----------a in div facebook-------- */

.text-textColor {
    --tw-text-opacity: 1;
    color: rgb(81 81 81/var(--tw-text-opacity));
}

.rounded-full {
    border-radius: 9999px;
}

.h-10 {
    height: 2.5rem;
}

@media (min-width: 768px) {
    .md\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

/* ------svg-------- */

svg[Attributes Style] {
    stroke: currentcolor;
    fill: currentcolor;
    stroke-width: 0;
    height: 1em;
    width: 1em;
}

svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

.text-textColor {
    --tw-text-opacity: 1;
    color: rgb(81 81 81/var(--tw-text-opacity));
}

@media (min-width: 768px) {
    .md\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

/* -----------a taget 2--------- */
.space-x-6>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-left: calc(1.5rem*(1 - var(--tw-space-x-reverse)));
    margin-right: calc(1.5rem*var(--tw-space-x-reverse));
}

.text-textColor {
    --tw-text-opacity: 1;
    color: rgb(81 81 81/var(--tw-text-opacity));
}

.rounded-full {
    border-radius: 9999px;
}

.h-10 {
    height: 2.5rem;
}

@media (min-width: 768px) {
    .md\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}